@model IEnumerable<ReactDemo.Models.CommentModel>

@{
    Layout = null;
}
<html>
<head>
    <title>Hello React</title>
</head>
<body>
    @Html.React("Components.CommentBox", new
    {
        initialData = Model,
        url = Url.Action("Comments"),
        submitUrl = Url.Action("AddComment"),
        pollInterval = 2000,
    })
    <script src="@Url.Content("~/js/react.min.js")"></script>
    <script src="@Url.Content("~/js/react-dom.min.js")"></script>
    <script src="@Url.Content("~/js/app.bundle.js")"></script>
    @Html.ReactInitJavaScript()
</body>
</html>